@import url(https://fonts.googleapis.com/css?family=PT+Mono:regular);
@import url(null.css);
* {
  font-family: "PT Mono", sans-serif;
}
body {
  background-color: black;
}
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  height: 100%;
  margin: auto;
}
h1 {
  /* display: none; */
  color: #ffffff52;
  font-family: consolas;
  font-size: 2rem;
  text-align: center;
  margin: 10px 0 0;
  user-select: none;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.display {
  /* max-height: 18rem; */
  user-select: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin: 10px 10px;
  color: orange;
}
.enteredNumber {
  height: 6rem;
  line-height: 6rem;
  font-size: 3.5rem;
  width: 100%;
  margin-top: 5px;
  padding: 0 10px;
  border: 1px solid transparent;
  background-color: #1b1201;
  border-radius: 10px;
}
.enteredNumber.inactive {
  color: orangered;
  /* border: 1px solid orange; */
}

.persentage-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
}
.percentage-element {
  font-size: 2rem;
  height: 2.5rem;
  margin: 1rem 0;
  padding: 2px 6px;
  color: #3d2904;
}
.percentage-element.active {
  color: orange;
  /* border: 1px solid white; */
  border-radius: 10px;

  background-color: #ffffff1a;
}
.quantity {
  width: 100%;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
}
.quanttity-title {
}
.quantity-number {
  /* flex: 1; */
  padding: 0 5px;
  width: 30%;
  text-align: right;
  background-color: #3d290457;
  border-radius: 5px;
}
.quantity-number.active {
  border-bottom: 1px solid orange;
}
.result {
  width: 100%;
  align-items: center;
  font-size: 5rem;
  vertical-align: middle;
  text-align: right;
  line-height: 6rem;
}
.digits-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.number-element {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__number {
  width: 100%;
  height: 5.5rem;
  position: relative;
  font-size: 40px;
  font-weight: 400;
  color: white;
  background-color: transparent;
  overflow: hidden;
  user-select: none;
  border: none;
  cursor: default;
  border-bottom: 1px solid rgba(255, 166, 0, 0.1);
  border-right: 1px solid rgba(255, 166, 0, 0.1);
}
.button__number.zero,
.button__number.CE,
.button__number.dote {
  border-bottom: 1px solid transparent;
}
.button__number.three,
.button__number.six,
.button__number.nine,
.button__number.dote {
  border-right: 1px solid transparent;
}
.button__number.CE {
  color: orange;
}
.button__number:active {
  color: orangered;
}
.button__number:active > .button-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  background-color: rgba(255, 255, 255, 0.048);
}
