@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(null.css);
* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: black;
  display: flex;
  flex-direction: column;
}
h1 {
  color: white;
  font-family: consolas;
  font-size: 2rem;
  text-align: center;
  margin: 10px 0 0;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.display {
  height: 15rem;
  user-select: none;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin: 10px 10px;
  border-bottom: 1px solid orange;
  border-top: 1px solid orange;

  color: orange;
  font-size: 4.5rem;
}
.enteredNumber {
  flex: 1;
  max-width: 300px;
  overflow: auto;
  align-self: flex-start;
  height: fit-content;
}
.enteredNumber.inactive {
  color: #5c3e06;
}
.persentage-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
}
.percentage-element {
  font-size: 2rem;
  color: #5c3e06;
  padding: 5px;
}
.percentage-element.active {
  color: orange;
  border: 1px solid white;
  border-radius: 10px;
}
.result {
  flex: 1;
  overflow: scroll;
}
.digits-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.number-element {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__number {
  width: 5.5rem;
  height: 5.5rem;

  font-size: 40px;
  font-weight: 400;
  color: white;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  border: none;
  cursor: default;
}
.button__number.CE {
  color: orange;
}
.button__number:active {
  background-color: rgba(127, 255, 212, 0.247);
}
