@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(null.css);
* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: black;
}
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  height: 100%;
  /* justify-content: center; */
  margin: auto;
}
h1 {
  color: #fff;
  font-family: consolas;
  font-size: 2rem;
  text-align: center;
  margin: 10px 0 0;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.display {
  height: 18rem;
  user-select: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin: 10px 10px;
  border-bottom: 1px solid orange;
  /* border-top: 1px solid orange; */

  color: orange;
}
.enteredNumber {
  height: 5rem;
  font-size: 3.5rem;
  width: 100%;
  /* max-width: 300px; */
  align-self: flex-start;
  justify-self: center;
  margin-top: 5px;
  padding: 3px;
  border: 1px solid transparent;
}
.enteredNumber.inactive {
  /* color: #5c3e06; */
  border: 1px solid orange;
  background-color: #1b1201;
  border-radius: 10px;
}

.persentage-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
}
.percentage-element {
  font-size: 2rem;
  color: #3d2904;
  padding: 5px;
}
.percentage-element.active {
  color: orange;
  /* border: 1px solid white; */
  border-radius: 10px;
}
.quantity {
  width: 100%;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
}
.quantity-number {
  flex: 1;
  text-align: right;
}
.quantity-number.active {
  border-bottom: 1px solid orange;
}
.result {
  flex: 1;
  font-size: 5rem;
}
.digits-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.number-element {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__number {
  width: 5.5rem;
  height: 5.5rem;

  font-size: 40px;
  font-weight: 400;
  color: white;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  border: none;
  cursor: default;
}
.button__number.CE {
  color: orange;
}
.button__number:active {
  background-color: rgba(127, 255, 212, 0.247);
}
